@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(111, 117, 93, 0.7058823529);
  padding: 35px;
  border-radius: 30px;
  margin-top: 10px;
}

.index-oculto {
  display: none;
}

.titulo-alimentos .navbar-alimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #a0ae75;
  padding: 40px;
  border-radius: 30px;
}
.titulo-alimentos .alimentos-oculto {
  display: none;
}
.titulo-alimentos h1 {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-materiales .navbar-material {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: skyblue;
  padding: 30px;
  border-radius: 30px;
  margin-top: 10px;
}
.titulo-materiales .material-oculto {
  display: none;
}
.titulo-materiales h1 {
  text-align: center;
}

.titulo-head .navbar-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(172, 172, 237);
  padding: 30px;
  border-radius: 30px;
  margin-top: 10px;
}
.titulo-head h1 {
  background-color: skyblue;
  text-align: center;
}
.titulo-head .head-oculto {
  display: none;
}

.header-personal .navbar-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 40px;
  border-radius: 30px;
  margin-top: 10px;
}
.header-personal .personal-oculto {
  display: none;
}
.header-personal h1 {
  text-align: center;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.back-alimentos {
  background-color: blanchedalmond;
}

.subtitulo-alimentos h2 {
  text-align: center;
}

.items-alimentos {
  display: grid;
  position: absolute;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 60px 200px 40px;
  grid-template-areas: "header header header" "diversa vegana vegetariana" "uno     dos    tres" "agua   agua   agua";
}
.items-alimentos .header {
  grid-area: header;
  background-color: #d1bc8a;
  text-align: center;
}
.items-alimentos .diversa {
  grid-area: diversa;
  background-color: #b8a473;
}
.items-alimentos .vegana {
  grid-area: vegana;
  background-color: #c4b07e;
}
.items-alimentos .vegetariana {
  grid-area: vegetariana;
  background-color: #dec896;
}
.items-alimentos .uno {
  grid-area: uno;
  background-color: rgb(194, 193, 151);
}
.items-alimentos .dos {
  grid-area: dos;
  background-color: rgb(171, 179, 155);
}
.items-alimentos .tres {
  grid-area: tres;
  background-color: #cfd8ad;
}
.items-alimentos .agua {
  text-align: center;
  background-color: #a0ae75;
  grid-area: agua;
}

.dieta-oculta {
  display: none;
}

.cuadro {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.cuadro .primera {
  flex-direction: column;
}
.cuadro .primera .one {
  background-color: aquamarine;
  padding-bottom: 40px;
}
.cuadro .primera .one .especialistas {
  background-color: aliceblue;
  text-align: center;
}
.cuadro .primera .two {
  background-color: aquamarine;
  padding-bottom: 50px;
}
.cuadro .primera .two .experiencia {
  background-color: aliceblue;
  text-align: center;
}
.cuadro .segunda {
  flex-direction: column;
}
.cuadro .segunda .three {
  background-color: aquamarine;
  padding-bottom: 50px;
}
.cuadro .segunda .three .dietas {
  background-color: aliceblue;
  text-align: center;
}
.cuadro .segunda .four {
  background-color: aquamarine;
  padding-bottom: 50px;
}
.cuadro .segunda .four .atencion {
  background-color: aliceblue;
  text-align: center;
}

.backindex {
  background-color: #708090;
  overflow-x: hidden;
}

.healt {
  flex-wrap: wrap;
}
.healt h1 {
  position: relative;
  top: 40px;
  left: 730px;
  font-family: "bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inicio {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  top: 90px;
  width: 631px;
  height: 500px;
  left: 450px;
}
.inicio img {
  width: 627px;
  z-index: -1;
}
.inicio h3 {
  text-align: center;
}
.inicio .d1 {
  border: solid 2px black;
}
.inicio .d1:hover {
  background-color: #aeaba6;
  transition: all 2s;
}
.inicio .d2 {
  border: solid 2px black;
  margin-top: 30px;
}
.inicio .d2:hover {
  background-color: #aeaba6;
  transition: all 2s;
}
.inicio .d2 img {
  width: 629px;
}
.inicio .d3 {
  border: solid 2px black;
  margin-top: 30px;
}
.inicio .d3:hover {
  background-color: #aeaba6;
  transition: all 2s;
}
.inicio .d4 {
  border: solid 2px black;
  margin-top: 30px;
}
.inicio .d4:hover {
  background-color: #aeaba6;
  transition: all 2s;
}

.backhead {
  background-color: rgba(132, 215, 248, 0.671);
}

.main-head {
  position: relative;
  left: 230px;
  width: 70%;
  height: 900px;
}
.main-head p {
  font-size: 20px;
}

.carousel {
  position: relative;
  flex-wrap: wrap;
  top: 30px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 70px;
}

.footer-index {
  position: relative;
  top: 1800px;
  border: double;
  flex-wrap: wrap;
}
.footer-index h4 {
  text-align: center;
  margin-bottom: 15px;
}
.footer-index .items {
  text-align: center;
}
.footer-index .items a {
  font-size: 30px;
  margin: 40px;
}
.footer-index .items a:hover {
  background-color: #aeaba6;
  border-radius: 100%;
  padding: 5px;
  transition: all 2s;
}

.footer-alimentos {
  background-color: #9e947e;
  position: relative;
  top: 50px;
}
.footer-alimentos .box-links {
  margin-top: 350px;
  width: 100%;
  justify-items: center;
  background-color: #aeaba6;
  display: grid;
  grid-template-rows: 70px 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo" "carniceria verduleria dietetica";
}
.footer-alimentos .box-links .titulo-footer {
  grid-area: titulo;
}
.footer-alimentos .box-links .titulo-footer h3 {
  text-align: center;
}
.footer-alimentos .box-links .carniceria {
  grid-area: carniceria;
  text-align: center;
}
.footer-alimentos .box-links {
  grid-area: verduleria;
}
.footer-alimentos .box-links {
  grid-area: dietetica;
}
.footer-alimentos .box-links a {
  color: black;
  padding: 10px;
  background-color: #708090;
  border-radius: 30px;
}

.footer-materiales {
  background-color: #708090;
  margin-top: 20px;
  font-size: 20px;
}
.footer-materiales .lore {
  height: 50px;
  transition: height 2s;
  text-align: center;
}
.footer-materiales .lore:hover {
  height: 150px;
}

.footer-head {
  position: relative;
  height: 150px;
  bottom: 200px;
  text-align: center;
  border: dashed;
}
.footer-head h3 {
  font-family: "Poetsen One", sans-serif;
}
.footer-head form label {
  font-size: 20px;
  margin-right: 10px;
}
.footer-head form input:hover {
  box-shadow: 2px 2px rgb(172, 172, 237) inset;
}

.footer-personal {
  background-color: #d1bc8a;
  height: 120px;
}
.footer-personal p {
  text-align: center;
}
.footer-personal .ig {
  display: flex;
  justify-content: space-around;
}
.footer-personal .ig a {
  background-color: #708090;
  border-radius: 20px;
  color: black;
}

@media screen and (max-width: 768px) {
  .navbar-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(111, 117, 93, 0.7058823529);
    padding: 35px;
    border-radius: 30px;
    margin-top: 10px;
  }
  .index-oculto {
    display: none;
  }
  .backindex {
    background-color: #708090;
    overflow-x: hidden;
  }
  .healt {
    flex-wrap: wrap;
  }
  .healt h1 {
    position: relative;
    top: 40px;
    left: 730px;
    font-family: "bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .inicio {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .inicio img {
    width: 400px;
    z-index: -1;
  }
  .inicio h3 {
    text-align: center;
  }
  .inicio .d1 {
    border: solid 2px black;
  }
  .inicio .d1:hover {
    background-color: #aeaba6;
    transition: all 2s;
  }
  .inicio .d2 {
    border: solid 2px black;
    margin-top: 30px;
  }
  .inicio .d2:hover {
    background-color: #aeaba6;
    transition: all 2s;
  }
  .inicio .d2 img {
    width: 629px;
  }
  .inicio .d3 {
    border: solid 2px black;
    margin-top: 30px;
  }
  .inicio .d3:hover {
    background-color: #aeaba6;
    transition: all 2s;
  }
  .inicio .d4 {
    border: solid 2px black;
    margin-top: 30px;
  }
  .inicio .d4:hover {
    background-color: #aeaba6;
    transition: all 2s;
  }
  .footer-index {
    position: relative;
    top: 1800px;
    border: double;
    flex-wrap: wrap;
    display: none;
  }
  .footer-index h4 {
    text-align: center;
    margin-bottom: 15px;
  }
  .footer-index .items {
    text-align: center;
  }
  .footer-index .items a {
    font-size: 30px;
    margin: 40px;
  }
  .footer-index .items a:hover {
    background-color: #aeaba6;
    border-radius: 100%;
    padding: 5px;
    transition: all 2s;
  }
}
@media screen and (max-width: 768px) {
  .back-alimentos {
    background-color: blanchedalmond;
  }
  .titulo-alimentos .navbar-alimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #a0ae75;
    padding: 40px;
    border-radius: 30px;
  }
  .titulo-alimentos h1 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .subtitulo-alimentos h2 {
    text-align: center;
  }
  .items-alimentos {
    display: grid;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 40px 200px 30px 40px 200px 30px 40px 200px 30px;
    grid-template-areas: "header header header" "diversa diversa diversa " "uno    uno   uno  " "header header header" "vegana vegana vegana" "dos    dos      dos" "header header header" "vegetariana vegetariana vegetariana" "tres         tres       tres" "agua   agua   agua";
  }
  .items-alimentos .header {
    grid-area: header;
    background-color: #d1bc8a;
    text-align: center;
  }
  .items-alimentos .diversa {
    grid-area: diversa;
    background-color: #b8a473;
  }
  .items-alimentos .vegana {
    grid-area: vegana;
    background-color: #c4b07e;
  }
  .items-alimentos .vegetariana {
    grid-area: vegetariana;
    background-color: #dec896;
  }
  .items-alimentos .uno {
    grid-area: uno;
    background-color: rgb(194, 193, 151);
  }
  .items-alimentos .dos {
    grid-area: dos;
    background-color: rgb(171, 179, 155);
  }
  .items-alimentos .tres {
    grid-area: tres;
    background-color: #cfd8ad;
  }
  .items-alimentos .agua {
    text-align: center;
    background-color: #a0ae75;
    grid-area: agua;
  }
  .footer-alimentos .box-links {
    margin-top: 350px;
    width: 100%;
    justify-items: center;
    background-color: #aeaba6;
    display: grid;
    grid-template-rows: 90px 110px;
    grid-template-columns: repeat 3, 1fr;
    grid-template-areas: "titulo titulo titulo" "carniceria verduleria dietetica";
  }
}
@media screen and (max-width: 320px) {
  .back-alimentos {
    background-color: blanchedalmond;
  }
  .titulo-alimentos .navbar-alimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #a0ae75;
    padding: 40px;
    border-radius: 30px;
    display: none;
  }
  .titulo-alimentos .alimentos-oculto {
    display: flex;
  }
  .titulo-alimentos h1 {
    position: relative;
    top: 60px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .subtitulo-alimentos h2 {
    display: none;
    text-align: center;
  }
  .items-alimentos {
    display: grid;
    display: none;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    grid-template-columns: 320px;
    grid-template-rows: 20px 30px 50px 20px 30px 50px 20px 30px 50px 20px;
    grid-template-areas: "header" "diversa " "uno   " "agua  " "vegana " "dos    " "agua   " "vegetariana" "tres    " "agua   ";
  }
  .items-alimentos .header {
    grid-area: header;
    background-color: #d1bc8a;
    text-align: center;
  }
  .items-alimentos .diversa {
    grid-area: diversa;
    background-color: #b8a473;
  }
  .items-alimentos .vegana {
    grid-area: vegana;
    background-color: #c4b07e;
  }
  .items-alimentos .vegetariana {
    grid-area: vegetariana;
    background-color: #dec896;
  }
  .items-alimentos .uno {
    grid-area: uno;
    background-color: rgb(194, 193, 151);
  }
  .items-alimentos .dos {
    grid-area: dos;
    background-color: rgb(171, 179, 155);
  }
  .items-alimentos .tres {
    grid-area: tres;
    background-color: #cfd8ad;
  }
  .items-alimentos .agua {
    text-align: center;
    background-color: #a0ae75;
    grid-area: agua;
  }
  .dieta-oculta {
    position: relative;
    display: flex;
    top: 70px;
    flex-direction: column;
  }
  .dieta-oculta li {
    list-style: circle;
  }
  .dieta-oculta h2 {
    text-align: center;
    background-color: #d1bc8a;
    border-radius: 30px;
  }
  .dieta-oculta h3 {
    text-align: center;
    border-bottom: solid 1px #708090;
  }
  .dieta-oculta h4 {
    text-align: center;
    border-top: solid 1px #708090;
  }
  .dieta-oculta div {
    border: solid 1px black;
    margin-top: 8px;
  }
  .dieta-oculta .diversa-mobile h3 {
    background-color: #b8a473;
  }
  .dieta-oculta .diversa-mobile .agua-mobile {
    background-color: #a0ae75;
    padding-bottom: 5px;
  }
  .dieta-oculta .vegana-mobile h3 {
    background-color: #c4b07e;
  }
  .dieta-oculta .vegana-mobile .agua-mobile {
    background-color: #a0ae75;
    padding-bottom: 5px;
  }
  .dieta-oculta .vegetariana-mobile h3 {
    background-color: #dec896;
  }
  .dieta-oculta .vegetariana-mobile .agua-mobile {
    background-color: #a0ae75;
    padding-bottom: 5px;
  }
  .footer-alimentos .box-links {
    margin-top: 50px;
    width: 320px;
    justify-items: center;
    background-color: #aeaba6;
    display: grid;
    grid-template-rows: 90px 110px;
    grid-template-columns: repeat 3, 1fr;
    grid-template-areas: "titulo titulo titulo" "carniceria verduleria dietetica";
  }
}
@media screen and (max-width: 768px) {
  .titulo-head .navbar-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(172, 172, 237);
    padding: 30px;
    border-radius: 30px;
    margin-top: 10px;
  }
  .titulo-head h1 {
    background-color: skyblue;
    text-align: center;
  }
  .titulo-head .head-oculto {
    display: none;
  }
  .backhead {
    background-color: rgba(132, 215, 248, 0.671);
  }
  .main-head {
    position: relative;
    left: 130px;
    width: 70%;
    height: 900px;
  }
  .main-head p {
    font-size: 20px;
  }
  .footer-head {
    position: relative;
    flex-wrap: wrap;
    height: 150px;
    bottom: 100px;
    text-align: center;
    border: dashed;
  }
  .footer-head h3 {
    font-family: "Poetsen One", sans-serif;
  }
  .footer-head form label {
    font-size: 20px;
    margin-right: 10px;
  }
  .footer-head form input:hover {
    box-shadow: 2px 2px rgb(172, 172, 237) inset;
  }
}
@media screen and (max-width: 320px) {
  .titulo-head .navbar-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(172, 172, 237);
    padding: 30px;
    border-radius: 30px;
    margin-top: 10px;
    display: none;
  }
  .titulo-head h1 {
    position: relative;
    top: 80px;
    background-color: skyblue;
    text-align: center;
  }
  .titulo-head .head-oculto {
    display: flex;
  }
  .backhead {
    background-color: rgba(132, 215, 248, 0.671);
  }
  .main-head {
    position: relative;
    left: 30px;
    top: 90px;
    width: 80%;
    height: 900px;
  }
  .main-head h2 {
    font-size: 15px;
  }
  .main-head p {
    font-size: 13px;
  }
  .footer-head {
    position: relative;
    flex-wrap: wrap;
    height: 150px;
    bottom: 115px;
    text-align: center;
    border: dashed;
  }
  .footer-head h3 {
    font-family: "Poetsen One", sans-serif;
  }
  .footer-head form label {
    font-size: 20px;
    margin-right: 10px;
  }
  .footer-head form input:hover {
    box-shadow: 2px 2px rgb(172, 172, 237) inset;
  }
}
@media screen and (max-width: 768px) {
  .titulo-materiales .navbar-material {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: skyblue;
    padding: 30px;
    border-radius: 30px;
    margin-top: 10px;
  }
  .titulo-materiales .material-oculto {
    display: none;
  }
  .titulo-materiales h1 {
    text-align: center;
  }
  .cuadro {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cuadro .primera {
    flex-direction: column;
  }
  .cuadro .primera .one {
    background-color: aquamarine;
    padding-bottom: 40px;
  }
  .cuadro .primera .one .especialistas {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .primera .two {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .primera .two .experiencia {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .segunda {
    flex-direction: column;
  }
  .cuadro .segunda .three {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .segunda .three .dietas {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .segunda .four {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .segunda .four .atencion {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .footer-materiales {
    background-color: #708090;
    margin-top: 20px;
    font-size: 20px;
  }
  .cuadro .footer-materiales .lore {
    height: 50px;
    transition: height 2s;
    text-align: center;
  }
  .cuadro .footer-materiales .lore:hover {
    height: 150px;
  }
}
@media screen and (max-width: 320px) {
  .titulo-materiales .navbar-material {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: skyblue;
    padding: 30px;
    border-radius: 30px;
    margin-top: 10px;
    display: none;
  }
  .titulo-materiales .material-oculto {
    display: flex;
  }
  .titulo-materiales h1 {
    position: relative;
    top: 57px;
    text-align: center;
  }
  .cuadro {
    position: relative;
    display: flex;
    top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cuadro .primera {
    flex-direction: column;
  }
  .cuadro .primera .one {
    background-color: aquamarine;
    padding-bottom: 40px;
  }
  .cuadro .primera .one .especialistas {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .primera .two {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .primera .two .experiencia {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .segunda {
    flex-direction: column;
  }
  .cuadro .segunda .three {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .segunda .three .dietas {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .segunda .four {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .segunda .four .atencion {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .footer-materiales {
    background-color: #708090;
    margin-top: 20px;
    font-size: 20px;
  }
  .cuadro .footer-materiales .lore {
    height: 50px;
    transition: height 2s;
    text-align: center;
  }
  .cuadro .footer-materiales .lore:hover {
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .header-personal .navbar-personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 40px;
    border-radius: 30px;
    margin-top: 10px;
  }
  .header-personal h1 {
    text-align: center;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .carousel {
    position: relative;
    flex-wrap: wrap;
    top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 70px;
  }
  .footer-personal {
    background-color: #d1bc8a;
    height: 100px;
  }
  .footer-personal p {
    text-align: center;
  }
  .footer-personal .ig {
    display: flex;
    justify-content: space-around;
  }
  .footer-personal .ig a {
    background-color: #708090;
    border-radius: 20px;
    color: black;
  }
}
@media screen and (max-width: 320px) {
  .header-personal .navbar-personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 40px;
    border-radius: 30px;
    margin-top: 10px;
    display: none;
  }
  .header-personal .personal-oculto {
    display: flex;
  }
  .header-personal h1 {
    position: relative;
    top: 62px;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .carousel {
    position: relative;
    display: flex;
    right: 30px;
    flex-wrap: wrap;
    top: 30px;
    width: 100%;
    margin-bottom: 70px;
  }
  .footer-personal {
    background-color: rgb(171, 179, 155);
    height: 100px;
  }
  .footer-personal p {
    text-align: center;
  }
  .footer-personal .ig {
    display: flex;
    justify-content: space-around;
  }
  .footer-personal .ig a {
    background-color: #708090;
    border-radius: 20px;
    color: black;
  }
}

/*# sourceMappingURL=estilos.css.map */
