.healt h1 {
  position: absolute;
  top: 70px;
  left: 45rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-wrap: wrap;
}

.titulo-alimentos h1 {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-materiales {
  text-align: center;
}

.titulo-head h1 {
  background-color: skyblue;
  text-align: center;
}

.back-alimentos {
  background-color: blanchedalmond;
}

.subtitulo-alimentos h2 {
  text-align: center;
}

.items-alimentos {
  display: grid;
  position: absolute;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 60px 200px 40px;
  grid-template-areas: "header header header" "diversa vegana vegetariana" "uno     dos    tres" "agua   agua   agua";
}
.items-alimentos .header {
  grid-area: header;
  background-color: #d1bc8a;
  text-align: center;
}
.items-alimentos .diversa {
  grid-area: diversa;
  background-color: #b8a473;
}
.items-alimentos .vegana {
  grid-area: vegana;
  background-color: #c4b07e;
}
.items-alimentos .vegetariana {
  grid-area: vegetariana;
  background-color: #dec896;
}
.items-alimentos .uno {
  grid-area: uno;
  background-color: rgb(194, 193, 151);
}
.items-alimentos .dos {
  grid-area: dos;
  background-color: rgb(171, 179, 155);
}
.items-alimentos .tres {
  grid-area: tres;
  background-color: #cfd8ad;
}
.items-alimentos .agua {
  text-align: center;
  background-color: #a0ae75;
  grid-area: agua;
}

.backmateriales {
  background-image: url(../contenido/imagenes/back-material.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.loop video {
  width: 100%;
  height: 300px;
}

.container {
  position: absolute;
  margin-top: 270px;
  font-size: 30px;
}

.footer-alimentos {
  background-color: #9e947e;
}
.footer-alimentos .box-links {
  margin-top: 350px;
  width: 100%;
  justify-items: center;
  background-color: #aeaba6;
  display: grid;
  grid-template-rows: 70px 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo" "carniceria verduleria dietetica";
}
.footer-alimentos .box-links .titulo-footer {
  grid-area: titulo;
}
.footer-alimentos .box-links .titulo-footer h3 {
  text-align: center;
}
.footer-alimentos .box-links .carniceria {
  grid-area: carniceria;
  text-align: center;
}
.footer-alimentos .box-links .verduleria {
  grid-area: verduleria;
}
.footer-alimentos .box-links .dietetica {
  grid-area: dietetica;
}
.footer-alimentos .box-links a {
  color: black;
  padding: 10px;
  background-color: #708090;
  border-radius: 30px;
}
.footer-alimentos img {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}

.footer-materiales {
  position: relative;
  bottom: -310px;
  background-color: black;
  height: 90px;
}
.footer-materiales p {
  font-size: 60px;
  text-align: center;
}

.footer-head {
  position: relative;
  bottom: -540px;
  background-color: rgb(172, 172, 237);
  font-size: 70px;
  height: 120px;
  text-align: center;
}

h1 {
  color: red;
}

/*# sourceMappingURL=estilos.css.map */
