@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.healt h1 {
  position: relative;
  top: 70px;
  left: 45rem;
  font-family: "bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-wrap: wrap;
}

.titulo-alimentos .navbar-alimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #a0ae75;
  padding: 40px;
  border-radius: 30px;
}
.titulo-alimentos h1 {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titulo-materiales .navbar-material {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: skyblue;
  padding: 30px;
  border-radius: 30px;
  margin-top: 10px;
}
.titulo-materiales h1 {
  text-align: center;
}

.titulo-head .navbar-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(172, 172, 237);
  padding: 30px;
  border-radius: 30px;
  margin-top: 10px;
}
.titulo-head h1 {
  background-color: skyblue;
  text-align: center;
}

.header-personal .navbar-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 40px;
  border-radius: 30px;
  margin-top: 10px;
}
.header-personal h1 {
  text-align: center;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.back-alimentos {
  background-color: blanchedalmond;
}

.subtitulo-alimentos h2 {
  text-align: center;
}

.items-alimentos {
  display: grid;
  position: absolute;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 60px 200px 40px;
  grid-template-areas: "header header header" "diversa vegana vegetariana" "uno     dos    tres" "agua   agua   agua";
}
.items-alimentos .header {
  grid-area: header;
  background-color: #d1bc8a;
  text-align: center;
}
.items-alimentos .diversa {
  grid-area: diversa;
  background-color: #b8a473;
}
.items-alimentos .vegana {
  grid-area: vegana;
  background-color: #c4b07e;
}
.items-alimentos .vegetariana {
  grid-area: vegetariana;
  background-color: #dec896;
}
.items-alimentos .uno {
  grid-area: uno;
  background-color: rgb(194, 193, 151);
}
.items-alimentos .dos {
  grid-area: dos;
  background-color: rgb(171, 179, 155);
}
.items-alimentos .tres {
  grid-area: tres;
  background-color: #cfd8ad;
}
.items-alimentos .agua {
  text-align: center;
  background-color: #a0ae75;
  grid-area: agua;
}

.cuadro {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.cuadro .primera {
  flex-direction: column;
}
.cuadro .primera .one {
  background-color: aquamarine;
  padding-bottom: 40px;
}
.cuadro .primera .one .especialistas {
  background-color: aliceblue;
  text-align: center;
}
.cuadro .primera .two {
  background-color: aquamarine;
  padding-bottom: 50px;
}
.cuadro .primera .two .experiencia {
  background-color: aliceblue;
  text-align: center;
}
.cuadro .segunda {
  flex-direction: column;
}
.cuadro .segunda .three {
  background-color: aquamarine;
  padding-bottom: 50px;
}
.cuadro .segunda .three .dietas {
  background-color: aliceblue;
  text-align: center;
}
.cuadro .segunda .four {
  background-color: aquamarine;
  padding-bottom: 50px;
}
.cuadro .segunda .four .atencion {
  background-color: aliceblue;
  text-align: center;
}

.backindex {
  background-color: #708090;
}

.row {
  position: relative;
  top: 90px;
  left: 170px;
  gap: 30px;
}

.backhead {
  background-color: rgba(132, 215, 248, 0.671);
}

.row {
  position: relative;
  display: flex;
  right: 500px;
}

.carousel {
  position: relative;
  top: 30px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 70px;
}

.container {
  position: relative;
  font-size: 30px;
}

.footer-alimentos {
  background-color: #9e947e;
  position: relative;
  top: 50px;
}
.footer-alimentos .box-links {
  margin-top: 350px;
  width: 100%;
  justify-items: center;
  background-color: #aeaba6;
  display: grid;
  grid-template-rows: 70px 80px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "titulo titulo titulo" "carniceria verduleria dietetica";
}
.footer-alimentos .box-links .titulo-footer {
  grid-area: titulo;
}
.footer-alimentos .box-links .titulo-footer h3 {
  text-align: center;
}
.footer-alimentos .box-links .carniceria {
  grid-area: carniceria;
  text-align: center;
}
.footer-alimentos .box-links {
  grid-area: verduleria;
}
.footer-alimentos .box-links {
  grid-area: dietetica;
}
.footer-alimentos .box-links a {
  color: black;
  padding: 10px;
  background-color: #708090;
  border-radius: 30px;
}

.footer-materiales {
  background-color: #708090;
  margin-top: 20px;
  font-size: 20px;
}
.footer-materiales .lore {
  height: 50px;
  transition: height 2s;
  text-align: center;
}
.footer-materiales .lore:hover {
  height: 150px;
}

.footer-head {
  position: relative;
  bottom: -540px;
  background-color: rgb(172, 172, 237);
  font-size: 70px;
  height: 120px;
  text-align: center;
}

.footer-personal {
  background-color: #d1bc8a;
  height: 120px;
}
.footer-personal p {
  text-align: center;
}
.footer-personal .ig {
  display: flex;
  justify-content: space-around;
}
.footer-personal .ig a {
  background-color: #708090;
  border-radius: 20px;
  color: black;
}

@media screen and (max-width: 768px) {
  .back-alimentos {
    background-color: blanchedalmond;
  }
  .titulo-alimentos .navbar-alimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #a0ae75;
    padding: 40px;
    border-radius: 30px;
  }
  .titulo-alimentos h1 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .subtitulo-alimentos h2 {
    text-align: center;
  }
  .items-alimentos {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 40px 200px 30px 40px 200px 30px 40px 200px 30px;
    grid-template-areas: "header header header" "diversa diversa diversa " "uno    uno   uno  " "header header header" "vegana vegana vegana" "dos    dos      dos" "header header header" "vegetariana vegetariana vegetariana" "tres         tres       tres" "agua   agua   agua";
  }
  .footer-alimentos .box-links {
    margin-top: 350px;
    width: 100%;
    justify-items: center;
    background-color: #aeaba6;
    display: grid;
    grid-template-rows: 90px 110px;
    grid-template-columns: repeat 3, 1fr;
    grid-template-areas: "titulo titulo titulo" "carniceria verduleria dietetica";
  }
  .footer-alimentos img {
    width: 768px;
    height: 100px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-material {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: skyblue;
    padding: 30px;
    border-radius: 30px;
    margin-top: 10px;
  }
  h1 {
    text-align: center;
  }
  .cuadro {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cuadro .primera {
    flex-direction: column;
  }
  .cuadro .primera .one {
    background-color: aquamarine;
    padding-bottom: 40px;
  }
  .cuadro .primera .one .especialistas {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .primera .two {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .primera .two .experiencia {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .segunda {
    flex-direction: column;
  }
  .cuadro .segunda .three {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .segunda .three .dietas {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .segunda .four {
    background-color: aquamarine;
    padding-bottom: 50px;
  }
  .cuadro .segunda .four .atencion {
    background-color: aliceblue;
    text-align: center;
  }
  .cuadro .footer-materiales {
    background-color: #708090;
    margin-top: 20px;
    font-size: 20px;
  }
  .cuadro .footer-materiales .lore {
    height: 50px;
    transition: height 2s;
    text-align: center;
  }
  .cuadro .footer-materiales .lore:hover {
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .header-personal .navbar-personal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    padding: 40px;
    border-radius: 30px;
    margin-top: 10px;
  }
  .header-personal h1 {
    text-align: center;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .carousel {
    position: relative;
    flex-wrap: wrap;
    top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 70px;
  }
  .footer-personal {
    background-color: #d1bc8a;
    height: 100px;
  }
  .footer-personal p {
    text-align: center;
  }
  .footer-personal .ig {
    display: flex;
    justify-content: space-around;
  }
  .footer-personal .ig a {
    background-color: #708090;
    border-radius: 20px;
    color: black;
  }
}

/*# sourceMappingURL=estilos.css.map */
