a {
    text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*INDEX*/


.healt h1 {
    position: absolute;
    top: 70px;
    left: 45rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;

}

.backindex {
    background-color: #708090;
}







.row {
    position: absolute;
    margin-top: 125px;
}









.container {
    position: absolute;
    margin-top: 270px;
    font-size: 30px;
}


     
    









/*ALIMENTOS*/

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.back-alimentos {
    background-color: blanchedalmond;
}

.titulo-alimentos h1 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitulo-alimentos h2 {
    text-align: center;
}


.items-alimentos {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 60px 200px 40px;
    grid-template-areas:
        "header header header"
        "diversa vegana vegetariana"
        "uno     dos    tres"
        "agua   agua   agua";
}



.header {
    grid-area: header;
    background-color: #d1bc8a;
    text-align: center;
}



.diversa {
    grid-area: diversa;
    background-color: #b8a473;
}


.vegana {
    grid-area: vegana;
    background-color: #c4b07e;
}


.vegetariana {
    grid-area: vegetariana;
    background-color: #dec896;
}


.uno {
    grid-area: uno;
    background-color: rgb(194, 193, 151);
}




.dos {
    grid-area: dos;
    background-color: rgb(171, 179, 155);
}


.tres {
    grid-area: tres;
    background-color: #cfd8ad;
}


.agua {
    text-align: center;
    background-color: #a0ae75;
    grid-area: agua;
}


.footer-alimentos {
    background-color: #9e947e;
}




.footer-alimentos h3 {
    text-align: center;
}



.box-links {

    margin-top: 350px;
    width: 100%;
    justify-items: center;
    background-color: #aeaba6;
    display: grid;
    grid-template-rows: 70px 80px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "titulo titulo titulo"
        "carniceria verduleria dietetica";
}

.titulo-footer {
    grid-area: titulo;

}

.carniceria a {
    grid-area: carniceria;
    color: black;
    padding: 10px;
    background-color: #708090;
    border-radius: 30px;
    text-align: center;
}

.verduleria a {
    grid-area: verduleria;
    color: black;
    padding: 10px;
    background-color: #708090;
    border-radius: 30px;

}

.dietetica a {
    grid-area: dietetica;
    color: black;
    padding: 10px;
    background-color: #708090;
    border-radius: 30px;

}




.footer-alimentos img {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}

/*MOBILE*/

@media screen and (max-width:768px) {
    

    .back-alimentos {
        background-color: blanchedalmond;
    }
    
    .titulo-alimentos h1 {
        text-align: center;
        font-family: "Poetsen One", sans-serif;
        font-weight: 200;
        font-style: normal;
    }
    
    .subtitulo-alimentos h2 {
        text-align: center;
    }
    .items-alimentos {
        display: grid;
        position: absolute;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30px 40px 200px 30px 40px 200px 30px 40px 200px 30px;
        grid-template-areas:
            "header header header"
            "diversa diversa diversa "
            "uno    uno   uno  "
            "header header header"
            "vegana vegana vegana"
            "dos    dos      dos"
            "header header header"
            "vegetariana vegetariana vegetariana"
            "tres         tres       tres"
            "agua   agua   agua";
    }
   
    
    .box-links {

        margin-top: 350px;
        width: 100%;
        justify-items: center;
        background-color: #aeaba6;
        display: grid;
        grid-template-rows: 90px 110px;
        grid-template-columns: repeat (3, 1fr);
        grid-template-areas:
            "titulo titulo titulo"
            "carniceria verduleria dietetica";
    }
    .footer-alimentos img {
        width: 768px;
        height: 100px;
        margin-top: 5px;
    }
}




/*MATERIAL*/





.titulo-materiales {
    text-align: center;
}






.backmateriales {
    background-image: url(../contenido/imagenes/back-material.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.loop video {
    width: 100%;
    height: 300px;
}

.footer-materiales {
   position: relative;
   bottom:-310px;
    background-color: black;
    height: 90px;
   
}


.footer-materiales p {
font-size: 60px;
text-align: center;
}


/*MOBILE*/ 
    
@media screen and (max-width:768px) {
    .footer-materiales p {
        font-size: 50px;
        text-align: center;
        }
}
/*HEAD*/

.backhead {
    background-color: rgba(132, 215, 248, 0.671);
}

.titulo-head h1 {
background-color: skyblue;
text-align: center;
}

.footer-head {
position: relative;
    bottom: -540px;
    background-color: rgb(172, 172, 237);
    font-size: 70px;
    height: 120px;
    text-align: center;
}

