.cuadro {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;



    .primera {
        flex-direction: column;

        .one {
            background-color: aquamarine;
            padding-bottom: 40px;
           

            .especialistas {
                background-color: aliceblue;
                text-align: center;
            }
        }

        .two {
            background-color: aquamarine;
            padding-bottom: 50px;
            .experiencia {
                background-color: aliceblue;
                text-align: center;
            }
        }
    }



    .segunda {
        flex-direction: column;

        .three {
            background-color: aquamarine;
            padding-bottom:50px;
            .dietas {
                background-color: aliceblue;
                text-align: center;
            }

        }

        .four {
            background-color: aquamarine;
            padding-bottom: 50px;
            .atencion {
                background-color: aliceblue;
                text-align: center;
            }
        }
    }
}
           