
.back-alimentos {
    background-color: $crema;
}



.subtitulo-alimentos{
    h2 {
        text-align: center;
    }
}

.items-alimentos {
    display: grid;
    position: absolute;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 60px 200px 40px;
    grid-template-areas:
        "header header header"
        "diversa vegana vegetariana"
        "uno     dos    tres"
        "agua   agua   agua";

    .header {
        grid-area: header;
        background-color:$marron-claro;
        text-align: center;
    }



    .diversa {
        grid-area: diversa;
        background-color:$anaranjado;
    }


    .vegana {
        grid-area: vegana;
        background-color: $marron-medio;
    }


    .vegetariana {
        grid-area: vegetariana;
        background-color:$crema-oscuro;
    }


    .uno {
        grid-area: uno;
        background-color: $amarillo-claro;
    }

    .dos {
        grid-area: dos;
        background-color:$gris-apagado;
    }


    .tres {
        grid-area: tres;
        background-color: $amarillo-apagado;
    }


    .agua {
        text-align: center;
        background-color:$verde-gris;
        grid-area: agua;
    }
}