.backindex {
    background-color: $gris;
    overflow-x: hidden;
    
}


.healt {
    flex-wrap: wrap;
    
      h1 {
          position: relative;
          top: 40px;
          left: 730px;
          font-family: $tipogafia-index;
          font-weight: 400;
          font-style: normal;
          
  
      }
  }



.inicio {
   position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    top: 90px;
    width: 631px;
    height: 500px;
    left: 450px;

   

    img {
        width: 627px;
        z-index: -1;
    }

    h3 {
        text-align: center;
    }
   
     .d1 {
        border: solid 2px $negro;
        &:hover {
            background-color: $gris-claro;
            transition: all 2s;
        }
            

        
     }

     .d2 {
        border: solid 2px $negro;
        margin-top: 30px;
        &:hover {
            background-color: $gris-claro;
            transition: all 2s;
        }
        img {
            width: 629px;
        }
     }

     .d3 {
        border: solid 2px $negro;
        margin-top: 30px;
       
        &:hover {
            background-color: $gris-claro;
            transition: all 2s;
        }
        
     }

     .d4 {
        border: solid 2px $negro;
        margin-top: 30px;
        &:hover {
            background-color: $gris-claro;
            transition: all 2s;
        }
     }

   

}