@media screen and (max-width:768px) {


    .back-alimentos {
        background-color: $crema;
    }

    .titulo-alimentos {

        .navbar-alimentos {
            @include flex (wrap, space-around, #a0ae75);
            padding: 40px;
            border-radius: 30px;
    
        }
    
    
    
        h1 {
            text-align: center;
            font-family: $tipografia-alimentos;
            font-weight: 400;
            font-style: normal;
        }
    }
    
    .subtitulo-alimentos {
        h2 {
            text-align: center;
        }
    }


    .items-alimentos {
        display: grid;
        position: absolute;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30px 40px 200px 30px 40px 200px 30px 40px 200px 30px;
        grid-template-areas:
            "header header header"
            "diversa diversa diversa "
            "uno    uno   uno  "
            "header header header"
            "vegana vegana vegana"
            "dos    dos      dos"
            "header header header"
            "vegetariana vegetariana vegetariana"
            "tres         tres       tres"
            "agua   agua   agua";
    }


    .footer-alimentos {


        .box-links {

            margin-top: 350px;
            width: 100%;
            justify-items: center;
            background-color: $gris-claro;
            display: grid;
            grid-template-rows: 90px 110px;
            grid-template-columns: repeat (3, 1fr);
            grid-template-areas:
                "titulo titulo titulo"
                "carniceria verduleria dietetica";
        }

        img {
            width: 768px;
            height: 100px;
            margin-top: 5px;
        }
    }
}



@media screen and (max-width:768px) {
    .navbar-material {
        @include flex (wrap, space-around, skyblue);
        padding: 30px;
        border-radius: 30px;
        margin-top: 10px;


    }


    h1 {
        text-align: center;
    }

    .cuadro {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
    
    
    
        .primera {
            flex-direction: column;
    
            .one {
                background-color: aquamarine;
                padding-bottom: 40px;
               
    
                .especialistas {
                    background-color: aliceblue;
                    text-align: center;
                }
            }
    
            .two {
                background-color: aquamarine;
                padding-bottom: 50px;
                .experiencia {
                    background-color: aliceblue;
                    text-align: center;
                }
            }
        }
    
    
    
        .segunda {
            flex-direction: column;
    
            .three {
                background-color: aquamarine;
                padding-bottom:50px;
                .dietas {
                    background-color: aliceblue;
                    text-align: center;
                }
    
            }
    
            .four {
                background-color: aquamarine;
                padding-bottom: 50px;
                .atencion {
                    background-color: aliceblue;
                    text-align: center;
                }
            }
        }
    
    
        .footer-materiales {
            background-color: $gris;
            margin-top: 20px;
        font-size: 20px;
        
        
        
            .lore {
                height: 50px;
                transition: height 2s;
                text-align: center;
        
                &:hover {
                    height: 150px;
                }
            }
        
        }
        
        
            
    
    
    
    }


}



@media screen and (max-width:768px) {
    .header-personal {

        .navbar-personal {
            @include flex (wrap, space-around, black);
            padding: 40px;
            border-radius: 30px;
            margin-top: 10px;
        }
    
    
        h1 {
            text-align: center;
    
            text-align: center;
            font-family: $tipografia-alimentos;
            font-weight: 400;
            font-style: normal;
        }
    }



    .carousel {
        position: relative;
        flex-wrap: wrap;
        top: 30px;
        margin-right: 60px;
        margin-left: 60px;
        margin-bottom: 70px
    }


    .footer-personal {
        background-color: $marron-claro;
        height: 100px;
    
        p {
            text-align: center;
        }
    
        .ig {
            display: flex;
            justify-content: space-around;
    
            a {
                background-color: $gris;
                border-radius: 20px;
                color: $negro;
            }
        }
    }

}