$gris:#708090;
$crema: blanchedalmond;
$marron-claro: #d1bc8a;
$anaranjado:#b8a473;
$marron-medio:#c4b07e;
$crema-oscuro:#dec896;
$amarillo-claro:rgb(194, 193, 151);
$gris-apagado: rgb(171, 179, 155);
$amarillo-apagado:#cfd8ad;
$verde-gris:#a0ae75;
$gris-claro:#aeaba6;
$negro: black;
$celeste-oscuro:rgba(132, 215, 248, 0.671);
$celeste:skyblue;
$lila:rgb(172, 172, 237);


$tipografia-alimentos:"Poetsen One", sans-serif;
$tipogafia-index:"bebas Neue", sans-serif;