.footer-index {
    position: relative;
    top: 1800px;
    border: double;
    flex-wrap: wrap;
    

    h4 {
        text-align: center;
        margin-bottom: 15px;
    }

    .items {

        text-align: center;

        a {
            font-size: 30px;
            margin: 40px;

            &:hover {
                background-color: $gris-claro;
                border-radius: 100%;
                padding: 5px;
                transition: all 2s;
            }

        }

    }
}


.footer-alimentos {
    background-color: #9e947e;
    position: relative;
    top: 50px;



    .box-links {

        margin-top: 350px;
        width: 100%;
        justify-items: center;
        background-color: $gris-claro;
        display: grid;
        grid-template-rows: 70px 80px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "titulo titulo titulo"
            "carniceria verduleria dietetica";

        .titulo-footer {
            grid-area: titulo;

            h3 {
                text-align: center;
            }
        }




        .carniceria {
            grid-area: carniceria;
            text-align: center;
        }

        & {
            grid-area: verduleria;

        }

        & {
            grid-area: dietetica;

        }

        a {
            color: $negro;
            padding: 10px;
            background-color: $gris;
            border-radius: 30px;

        }
    }


}





.footer-materiales {
    background-color: $gris;
    margin-top: 20px;
    font-size: 20px;



    .lore {
        height: 50px;
        transition: height 2s;
        text-align: center;

        &:hover {
            height: 150px;
        }
    }





}




.footer-head {
    position: relative;
    height: 150px;
    bottom: 200px;
    text-align: center;
    border: dashed;

    

    h3 {
        font-family: $tipografia-alimentos;
    }


    form {
    
        label {
            font-size: 20px;
            margin-right: 10px;
    
        }
    
        input:hover {
    
            box-shadow: 2px 2px $lila inset;
            
    
        }
    }
}






.footer-personal {
    background-color: $marron-claro;
    height: 120px;

    p {
        text-align: center;
    }

    .ig {
        display: flex;
        justify-content: space-around;

        a {
            background-color: $gris;
            border-radius: 20px;
            color: $negro;
        }
    }
}