.container {
    position: relative;

    font-size: 30px;
}







.footer-alimentos {
    background-color: #9e947e;
    position: relative;
    top: 50px;



    .box-links {

        margin-top: 350px;
        width: 100%;
        justify-items: center;
        background-color: $gris-claro;
        display: grid;
        grid-template-rows: 70px 80px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "titulo titulo titulo"
            "carniceria verduleria dietetica";

        .titulo-footer {
            grid-area: titulo;

            h3 {
                text-align: center;
            }
        }




        .carniceria {
            grid-area: carniceria;
            text-align: center;
        }

        .verduleria {
            grid-area: verduleria;

        }

        .dietetica {
            grid-area: dietetica;

        }

        a {
            color: $negro;
            padding: 10px;
            background-color: $gris;
            border-radius: 30px;

        }
    }


}





.footer-materiales {
    position: relative;
    bottom: -310px;
    background-color: $negro;
    height: 90px;


    p {
        font-size: 60px;
        text-align: center;
    }


}




.footer-head {
    position: relative;
    bottom: -540px;
    background-color: $lila;
    font-size: 70px;
    height: 120px;
    text-align: center;
}