.container {
    position: relative;
    top: 870px;
    margin-left: 130px;
    font-size: 30px;
    h3 {
        text-align: center;
    }
}







.footer-alimentos {
    background-color: #9e947e;
    position: relative;
    top: 50px;



    .box-links {

        margin-top: 350px;
        width: 100%;
        justify-items: center;
        background-color: $gris-claro;
        display: grid;
        grid-template-rows: 70px 80px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "titulo titulo titulo"
            "carniceria verduleria dietetica";

        .titulo-footer {
            grid-area: titulo;

            h3 {
                text-align: center;
            }
        }




        .carniceria {
            grid-area: carniceria;
            text-align: center;
        }

        & {
            grid-area: verduleria;

        }

        & {
            grid-area: dietetica;

        }

        a {
            color: $negro;
            padding: 10px;
            background-color: $gris;
            border-radius: 30px;

        }
    }


}





.footer-materiales {
    background-color: $gris;
    margin-top: 20px;
    font-size: 20px;



    .lore {
        height: 50px;
        transition: height 2s;
        text-align: center;

        &:hover {
            height: 150px;
        }
    }





}




.footer-head {
    position: relative;
    bottom: -540px;
    background-color: $lila;
    font-size: 70px;
    height: 120px;
    text-align: center;
}






.footer-personal {
    background-color: $marron-claro;
    height: 120px;

    p {
        text-align: center;
    }

    .ig {
        display: flex;
        justify-content: space-around;

        a {
            background-color: $gris;
            border-radius: 20px;
            color: $negro;
        }
    }
}