.container {
    position: absolute;
    margin-top: 270px;
    font-size: 30px;
}







.footer-alimentos {
    background-color: #9e947e;




    .box-links {

        margin-top: 350px;
        width: 100%;
        justify-items: center;
        background-color: #aeaba6;
        display: grid;
        grid-template-rows: 70px 80px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "titulo titulo titulo"
            "carniceria verduleria dietetica";

        .titulo-footer {
            grid-area: titulo;

            h3 {
                text-align: center;
            }
        }




        .carniceria {
            grid-area: carniceria;
            text-align: center;
        }

        .verduleria {
            grid-area: verduleria;

        }

        .dietetica {
            grid-area: dietetica;

        }

        a {
            color: black;
            padding: 10px;
            background-color: #708090;
            border-radius: 30px;

        }
    }

    img {
        width: 100%;
        height: 100px;
        margin-top: 5px;
    }
}





.footer-materiales {
    position: relative;
    bottom: -310px;
    background-color: black;
    height: 90px;


    p {
        font-size: 60px;
        text-align: center;
    }


}