.healt{
    h1 {
        position: absolute;
        top: 70px;
        left: 45rem;
        font-family: $tipogafia-index;
        font-weight: 400;
        font-style: normal;
        flex-wrap: wrap;
    
    }
}


.titulo-alimentos {
    h1 {
        text-align: center;
        font-family: $tipografia-alimentos;
        font-weight: 400;
        font-style: normal;
    }
}

.titulo-materiales {
    text-align: center;
}


.titulo-head {
    h1 {
        background-color: $celeste;
        text-align: center;
        }
}