.healt {
  flex-wrap: wrap;
  
    h1 {
        position: relative;
        top: 70px;
        left: 45rem;
        font-family: $tipogafia-index;
        font-weight: 400;
        font-style: normal;
        

    }
}


.titulo-alimentos {

    .navbar-alimentos {
        @include flex (wrap, space-around, #a0ae75);
        padding: 40px;
        border-radius: 30px;

    }



    h1 {
        text-align: center;
        font-family: $tipografia-alimentos;
        font-weight: 400;
        font-style: normal;
    }
}

.titulo-materiales {

    .navbar-material {
        @include flex (wrap, space-around, skyblue);
        padding: 30px;
        border-radius: 30px;
        margin-top: 10px;


    }


    h1 {
        text-align: center;
    }
}


.titulo-head {

    .navbar-head {
        @include flex (wrap, space-around, rgb(172, 172, 237));
        padding: 30px;
        border-radius: 30px;
        margin-top: 10px;
    }



    h1 {
        background-color: $celeste;
        text-align: center;
    }
}

.header-personal {

    .navbar-personal {
        @include flex (wrap, space-around, black);
        padding: 40px;
        border-radius: 30px;
        margin-top: 10px;
    }


    h1 {
        text-align: center;

        text-align: center;
        font-family: $tipografia-alimentos;
        font-weight: 400;
        font-style: normal;
    }
}


